<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/layout.css">
</head>
<body>
	<header>
		<h1>Fothbook</h1>
		<nav>
			<ul> 
				<li><a href = "#">Sign in</a></li> 
				<li><a href = "#">Sign up</a></li>
				<li><a href = "#">Log Out</a></li> 
			</ul> 
		</nav>
	</header>
	

	
	<%= yield %>
	<footer></footer>
</body>
</html> 